.idea/
__pycache__

remote_socket/client/log_data/*
remote_socket/client/prev_log/*
remote_socket/client/config/*
!remote_socket/client/config/config_example.yaml

remote_socket/server/config/*
!remote_socket/server/config/config_example.yaml
